<!--<div class="data-container">       
    <div class="card">
        <div class="card-header">
            <div class="data-control">
                <div class="btn-edit">
                      <a href="#" class="btn-right">
                          <i class="fa fa-pen"></i>
                        </a>
                </div>
            </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">ACERCA DE</h5>
          <p class="card-text">{{dataPorfolio.about}}</p>
        </div>
    </div>
</div> 
-->

<div class="container col-xxl-8 px-4 py-5 acercaDe">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img [src]= "dataPorfolio.imgabout" id="imgAbout"  class="d-block mx-lg-auto img-fluid" alt="ImgAbout" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Acerca de</h1>
        <p class="lead">{{dataPorfolio.about}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <div class="btn-edit">
              <button type="button" class="btn btn-outline-dark btn-lg px-4">
                <i class="fa fa-pen"></i>
              </button>  
            </div>
        </div>
      </div>
    </div>
  </div>



  <br>
<div class="b-example-divider"></div>

<br>