<div class="container padre">

    <div class="row row-cols-1  row-cols-lg-3 justify-content-start d-flex align-content-stretch flex-wrap">
        <div class="col" id="h1">
            asdasd
        </div>

        <div class="col" id="h2">sdads</div>
        <div class="col" id="h3">sdads</div>
        <div class="col" id="h4">sdads</div>
        <div class="col" id="h5">sdads</div>
    </div>
</div>


<div class="papa">
    <ul>
        <li>
            <a href="">asdasdasdasd</a>
        </li>
        <li>
            <a href="">asdasdasdasd</a>
        </li>
        <li>
            <a href="">asdasdasdasd</a>
        </li>
        <li>
            <a href="">asdasdasdasd</a>
        </li>
        <li>
            <a href="">asdasdasdasd</a>
        </li>
        <li>
            <a href="">asdasdasdasd</a>
        </li>
    </ul>
</div>